.notes-list--container {
  position: relative;
}

.notes-list--container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  background: linear-gradient(transparent, var(--c-primary-100));
  pointer-events: none;
}

.notes-list--header {
  padding: var(--s-md);
}

.notes-list--back-link {
  margin-right: var(--s-sm);
  font-size: 1.4rem;
  text-decoration: none;
}

.notes-list--scroll-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 90vh;
}

.notes-list--items-container {
  display: flex;
  flex-direction: column;
  padding: var(--s-md);
  gap: var(--s-md);
  margin-bottom: 200px;
}
